<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <posts>
            <department>
                <view_list>1</view_list>
            </department>
        </posts>
    </default>

    <websites>
        <websitecode>
            <posts>
                <department>
                    <view_list>1</view_list>
                </department>
            </posts>
        </websitecode>
    </websites>
 
    <stores>
        <storeviewcode>
            <posts>
                <department>
                    <view_list>1</view_list>
                </department>
            </posts>
        </storeviewcode>
    </stores>

</config>