<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Create our type DepartmentGridDataProvider -->
    <virtualType name="DepartmentGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Crocoit\Post\Model\Resource\Department\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">DepartmentGridFilterPool</argument> <!-- Define new object for filters -->
        </arguments>
    </virtualType>
 
    <!-- Create our type DepartmentGridFilterPool -->
    <virtualType name="DepartmentGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
 
    <!-- Type for posts_department_listing_data_source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="posts_department_listing_data_source" xsi:type="string">Crocoit\Post\Model\ResourceModel\Grid\Department\Collection</item>
            </argument>
        </arguments>
    </type>
 
    <!-- Simulate our class Crocoit\Post\Model\ResourceModel\Grid\Department\Collection -->
    <virtualType name="Crocoit\Post\Model\ResourceModel\Grid\Department\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">crocoit_department</argument>
            <argument name="resourceModel" xsi:type="string">Crocoit\Post\Model\ResourceModel\Department</argument>
        </arguments>
    </virtualType>



   <!-- Create our type PostGridDataProvider -->
    <virtualType name="PostGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Crocoit\Post\Model\Resource\Post\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">PostGridFilterPool</argument> <!-- Define new object for filters -->
        </arguments>
    </virtualType>
 
    <!-- Create our type PostGridFilterPool -->
    <virtualType name="PostGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
 
    <!-- Type for posts_post_listing_data_source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="posts_post_listing_data_source" xsi:type="string">Crocoit\Post\Model\ResourceModel\Grid\Post\Collection</item>
            </argument>
        </arguments>
    </type>
 
    <!-- Simulate our class Crocoit\Post\Model\ResourceModel\Grid\Post\Collection -->
    <virtualType name="Crocoit\Post\Model\ResourceModel\Grid\Post\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">crocoit_posts</argument>
            <argument name="resourceModel" xsi:type="string">Crocoit\Post\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>

    <!-- Logger and Handler -->
    <type name="Crocoit\Post\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Crocoit\Post\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">crocoitPost</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Crocoit\Post\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

 
    <type name="Crocoit\Post\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Crocoit\Post\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">crocoitpost</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Crocoit\Post\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

</config>

